#left {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#right {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#name {
    margin-left: 40px;
}

p {
    background-color: #d2eafd;
    border-radius: 4px;
    padding: 0.8em 0.7em 0.8em 0.7em;
    line-height: 1em;
    position: relative;
    text-align: left;
}
.abilities {
    list-style-type: none;
}
    
.abilities li {
    background-color: #d2eafd;
    border-radius: 4px;
    padding: 0.8em 0.7em 0.8em 0.7em;
    line-height: 1em;
    position: relative;
    text-align: center;
    display: inline-block;
    float: left;
    clear: left;
}

.abilities li:hover {
    background-color: #a6d4fa;
}

.abilities li.selected {
    background-color: #79bff8;
}


