<!--The content below is only a placeholder and can be replaced.-->
<div id="header" style="text-align:center">
    <div class="box">
      <h1>
        {{title}}
      </h1>
    </div>
    <div class="box">
      <img width="200" src="assets\Roshan_model.png">
    </div>
</div>
<div>
    <nav>Timer</nav>
    <nav>
        <a routerLink="/info" routerLinkActive="active">Info</a>
    </nav>
    <nav>
        <a routerLink="/abilities" routerLinkActive="active">Abilities</a>
    </nav>
    <nav>
        <a routerLink="/leaderboards" routerLinkActive="active">Leaderboards</a>
    </nav>
</div>

<router-outlet></router-outlet>

